-# いいね機能一旦停止
- if user_signed_in?
  - if gear.like_user(current_user.id)
    = link_to gear_like_path(gear, gear.like_user(current_user)), method: :delete, class: 'heart-icon contents__detail__review col-sm-2 col-12 text-center pt-2 text-secondary d-flex flex-lg-column flex-md-column flex-sm-column justify-content-around', remote: true do
      .fa.fa-heart.h3.heart-red
      .likeCount.h5.pt-2.pt-md-0
        = gear.likes.count

  - else
    = link_to gear_likes_path(gear), method: :post, class: 'empty-heart contents__detail__review col-sm-2 col-12 text-center pt-2 text-secondary d-flex flex-lg-column flex-md-column flex-sm-column justify-content-around', remote: true do
      .fa.fa-heart-o.h3.heart-color
      .likeCount.h5.pt-2.pt-md-0
        = gear.likes.count
        
- else
  = link_to gear_likes_path(gear), method: :post, class: 'empty-heart contents__detail__review col-sm-2 col-12 text-center pt-2 text-secondary d-flex flex-lg-column flex-md-column flex-sm-column justify-content-around', remote: true do
    .fa.fa-heart-o.h3.heart-color
    .likeCount.h5.pt-2.pt-md-0
      = gear.likes.count