
.index-contents.col-lg-3.col-md-5.col-sm-5.card.shadow.ml-3.mt-4.mr-3
  = link_to gear_path(gear.id), class: 'contents__title h4 font-weight-bold px-3 mt-3 card-header bg-dark text-light' do
    = gear.gearname

  .contents.row.card-body
    .contents__image.col-12.text-center.mb-3.mb-sm-0
      = image_tag gear.image, size: '200x200'
        
    .contents__detail.card.shadow-sm.col-12.mt-3
      .row
        .detail__maker.col-6.font-weight-bold.text-center.mt-2.h6
          メーカー 
          .maker__text.text-primary.border-bottom.resp-maker-name.mt-1
            = gear.maker
        .detail__category.col-6.font-weight-bold.text-center.mt-2.h6
          .category__title.text-cetner
            カテゴリ
          .category__text.text-primary.border-bottom.resp-maker-name.mt-1
            = gear.category
        .detail__count.col-12.text-right.text-secondary.mb-0.mt-2       
          = " 現在のレビュー数:#{gear.reviews.count}"