- if @gear.reviews.first.nil? 
  .show-review.card.shadow-sm.w-100.mt-3
    .review-title.card-header
      まだレビューが存在しません

- else
  .show-review.card.shadow-sm.w-100.mt-3
    .review-title.card-header
      = review.title

    .review-inner.p-3
      = review.detail
      .review-info.col-12.text-right.text-primary.mt-3
        = review.user.username
        %time.text-secondary(datetime="#{review.created_at}")= time_ago_in_words(review.created_at)

        = render partial: 'likes/like_show', locals: { review: review }
      
      - if user_signed_in? 
        - if review.user.id == current_user.id
          .show-delete.col-12.text-right.mt-2
            = link_to edit_gear_review_path(@gear.id, review.id), class: 'btn btn-outline-success btn-sm mr-2' do
              編集                    
            %button{type: 'button', class: 'btn btn-outline-danger btn-sm', data: {toggle: 'modal', target: '#deleteModal'}}
              削除

          #deleteModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "deleteModalLabel", :role => "dialog", :style => "display: none; ", :tabindex => "-1"}
            .modal-dialog{role: 'document'}
              .modal-content
                .modal-header
                  .h4.modal-title#deleteModalLabel
                    確認メッセージ
                  %button{type: 'button', class: 'close', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
                    %span{aria: {hidden: 'true'}}
                      &times;
                .modal-body.my-3.text-primary
                  本当に削除してもよろしいですか？
                
                .modal-footer
                  %button{type: 'button', class: 'btn btn-secondary', data: {dismiss: 'modal'}}
                    戻る
                  = link_to gear_review_path(@gear.id, review.id), method: :delete, class: 'btn btn-danger' do
                    削除