= render 'devise/shared/signup'

.gears-new-wrapper
  = form_with model: @gear, url:gears_path,method: :post, local: true ,class: 'container-fluid' do |f|
    .gears-new-contents.row
      .gears-new-contents__box.h5.col-lg-6.col-md-8.col-sm-12.col-12.offset-md-3.pt-5
        .gears-new-contents__box__title.text-center.font-weight-bold
          機材の情報を入力
          %hr.my-4
        
        .gears-new-contents__box__image-container.pt-3
          %label.gears-new-contents__box__image-container__icon.font-weight-bold.border.border-warning.rounded.pt-4
            %i.fa.fa-camera.align-middle
            = f.file_field :image, id: 'file_photo'
          .gears-new-contents__box__image-container__text.mt-2
            画像をアップロードしてください
        %hr.my-4
        
        .gears-new-contents__box__status-container.p-3.row
          .gears-new-contents__box__status-container__title.h6.col-md-4.pl-4.mb-3.font-weight-bold.text-muted
            種類

          .gears-new-contents__box__status-container__select.col-md-8
            = f.label :category_id, 'カテゴリー', class: 'h6 font-weight-bold'
            = f.collection_select :category_id, Category.all, :id, :name, {include_blank: '未選択'},{class: "category form-control"}

            = f.label :maker_id, 'メーカー', class: 'h6 font-weight-bold mt-4'
            = f.collection_select :maker_id, Maker.all, :id, :name, {include_blank: '未選択'},{class: "maker form-control"}
        %hr.my-4
    
    -# = f.label :gearname 
    -# = f.text_field :gearname

    -# = f.label :cost_performance
    -# = f.text_field :cost_performance

    -# = f.label :sound
    -# = f.text_field :sound

    -# = f.label :design
    -# = f.text_field :design

    -# = f.label :durability
    -# = f.text_field :durability

    -# = f.label :dissatisfaction
    -# = f.text_field :dissatisfaction
  
    -# = f.label :review
    -# = f.text_area :review

    -# =f.submit

