= render 'devise/shared/signup'

.gears-new-wrapper
  = form_with model: @gear, url:gears_path,method: :post, local: true ,class: 'container-fluid' do |f|
    .gears-new-contents.row
      .gears-new-contents__box.h5.col-lg-6.col-md-8.col-sm-12.col-12.offset-md-3.pt-5
        .gears-new-contents__box__title.text-center.font-weight-bold
          機材の情報を入力
          %hr.my-4
        
        .gears-new-contents__box__image-container.pt-3
          %label.gears-new-contents__box__image-container__icon.font-weight-bold.border.border-warning.rounded.pt-4
            %i.fa.fa-camera.align-middle
            = f.file_field :image, id: 'file_photo'
          .gears-new-contents__box__image-container__text.mt-2
            画像をアップロードしてください
        
        .gears-new-contents__box__image-container.pt-3#userImgPreview
          = image_tag "", id:'image', class:'gears-new-contents__box__image-container__image',accept: "image/*"
          .gears-new-contents__box__image-container__text
            画像をアップロード済

        %hr.my-4
        
        .gears-new-contents__box__status-container.p-3.row
          .gears-new-contents__box__status-container__title.h6.col-md-4.pl-4.mb-3.font-weight-bold.text-muted
            種類

          .gears-new-contents__box__status-container__select.col-md-8
            = f.label :gearname, '機材名', class: 'h6 font-weight-bold'
            = f.text_field :gearname, class: 'form-control', placeholder: '例)OD-1X'

            = f.label :category_id, 'カテゴリー', class: 'h6 font-weight-bold mt-4'
            = f.collection_select :category_id, Category.all, :id, :name, {include_blank: '未選択'},{class: "category form-control"}

            = f.label :maker_id, 'メーカー', class: 'h6 font-weight-bold mt-4'
            = f.collection_select :maker_id, Maker.all, :id, :name, {include_blank: '未選択'},{class: "maker form-control"}
        %hr.my-4

        .gears-new-contents__box__point-container.p-3.row
          .gears-new-contents__box__point-container__title.h6.col-md-4.pl-4.mb-3.font-weight-bold.text-muted
            ポイント
            .gears-new-contents__box__point-container__title__note.mt-3.text-primary.h6
              合計点が100点になるようにご記入ください。
          
          .gears-new-contents__box__point-container__list.col-md-8
            = f.label :cost_performance, 'コストパフォーマンス', class: 'h6 font-weight-bold'
            = f.text_field :cost_performance, class: 'form-control', placeholder: '例)20'

            = f.label :sound, 'サウンド', class: 'h6 font-weight-bold mt-4'
            = f.text_field :sound, class: 'form-control', placeholder: '例)20'

            = f.label :design, 'デザイン', class: 'h6 font-weight-bold mt-4'
            = f.text_field :design, class: 'form-control', placeholder: '例)20'

            = f.label :durability, '耐久性', class: 'h6 font-weight-bold mt-4'
            = f.text_field :durability, class: 'form-control', placeholder: '例)20'

            = f.label :dissatisfaction, '不満', class: 'h6 font-weight-bold mt-4'
            = f.text_field :dissatisfaction, class: 'form-control', placeholder: '例)20'

            .gears-new-contents__box__point-container__list__result.mt-5.row.px-3
              .gears-new-contents__box__point-container__list__result__text.font-weight-bold.col-4.h4
                合計:
              .gears-new-contents__box__point-container__list__result__point.col-8.text-right.h3
                100point
        %hr.my-4

        .gears-new-contents__box__review-container.p-3.row
          .gears-new-contents__box__review-container__title.h6.col-12.font-weight-bold.text-muted
            レビュー
          
          .gears-new-contents__box__review-container__form.col-12
            .form-group
              = f.text_area :review, class: 'form-control', rows: '6', placeholder: '例)これまでたくさんのオーバードライブを購入しましたが、ここに結論がありました。BOSSらしいと言えばそこまでですが、これがBOSSのひとつの回答だと思います。つまみをどの位置にしても良い音がでます。ブースターとして、クランチとして、軽めのディストーションとして。オールラウンダーです。'
        %hr.my-3
        
        .gears-new-contents__box__review-container.text-center.my-4
          %button{type: 'submit', class: 'btn btn-outline-success'}
            レビューを投稿する


  
    -# = f.label :review
    -# = f.text_area :review

    -# =f.submit

