= render 'shared/header'

.gears-show-wrapper
  .gears-show.container-fluid
    .row
      .show-container.col-lg-6.col-md-8.col-sm-12.col-12.offset-xl-3.offset-lg-3.offset-md-2.my-5.card.shadow
        .show-header.h5.font-weight-bold.py-4.mt-3.text-center.card-header.bg-dark.text-light
          = "#{@gear.maker} #{@gear.gearname}"
        %hr
        #js-grid-like-show
          -# = render partial: 'likes/like_show', locals:{ gear: @gear }

  
        .row
          .show-image.col-lg-6.col-md-6.col-sm-12.col-12.text-center.mb-4.d-inline-flex.justify-content-center
            = image_tag @gear.image, size: '300x300', class: 'img-fluid'


          .gears-show-status.col-lg-6.col-md-6.col-sm-12.col-12.d-inline-flex.justify-content-center.pl-md-0.mb-4
            -# -binding.pry
            - if @gear.reviews.first.nil? 
              = image_tag '/nodata.png', size: '300x300', class: 'img-fluid'

            - else
              %canvas#myRadarChart{:height => "170px", :width => "170px"}
                :javascript
                  var ctx = document.getElementById("myRadarChart").getContext('2d');
                  var myRadarChart = new Chart(ctx, {
                      type: 'radar',
                      data: {
                            labels: ['コスパ', '音', 'デザイン', '耐久', '満足度'],
                            datasets: [{
                                backgroundColor: 'rgb(54, 162, 235, 0.2)',
                                borderColor: 'rgb(54, 162, 235)',
                                pointBackgroundColor: 'rgb(54, 162, 235, 0.2)',
                                data: [ gon.cost_performance, gon.sound, gon.design, gon.durability, gon.satisfaction_level]
                            }]
                      },
                      options: {
                        legend: {
                          display: false
                        },
                        scale: {
                          ticks: {
                            min: 0,
                            max: 5,
                            stepSize: 1,
                            fontSize: 12
                          },
                        gridLines: {
                            display: true,
                            color: 'rgb(255, 205, 86)'
                          }
                        }
                      }
                  });
        %hr    

        .row
          .show-maker.col-6.text-center.text-secondary.font-weight-bold.h5
            メーカー
            .show-maker__name.text-center.text-primary.mt-2
              = @gear.maker
          .show-category.col-6.text-center.text-secondary.font-weight-bold.h5
            カテゴリー
            .show-category__name.text-center.text-primary.mt-2
              = @gear.category

        %hr

        .row.px-3.my-3
          %label.review-label.text-secondary.ml-1
            この機材のレビュー
          - if @gear.reviews.first.nil? 
            .show-review.card.shadow-sm.w-100
              .review-title.card-header
                まだレビューが存在しません
        
          - else
            .show-review.card.shadow-sm.w-100
              .review-title.card-header
                = @gear.reviews.first.title
              .review-inner.p-3
                = @gear.reviews.first.detail

        -# レビューの削除は条件分岐が必要
        -# - if user_signed_in? 
        -#   - if current_user.id == @gear.user.id
        .row.px-4.my-2.mb-4.text-center
          .show-edit.col-6
            =link_to edit_gear_path, class: 'btn btn-outline-success btn-block' do
              レビューを投稿
          .show-delete.col-6
            %button{type: 'button', class: 'btn btn-outline-danger btn-block', data: {toggle: 'modal', target: '#deleteModal'}}
              レビューを削除
            
            #deleteModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "deleteModalLabel", :role => "dialog", :style => "display: none; ", :tabindex => "-1"}
              .modal-dialog{role: 'document'}
                .modal-content
                  .modal-header
                    .h4.modal-title#deleteModalLabel
                      確認メッセージ
                    %button{type: 'button', class: 'close', data: {dismiss: 'modal'}, aria: {label: 'Close'}}
                      %span{aria: {hidden: 'true'}}
                        &times;
                  .modal-body.my-3.text-primary
                    本当に削除してもよろしいですか？
                  
                  .modal-footer
                    %button{type: 'button', class: 'btn btn-secondary', data: {dismiss: 'modal'}}
                      戻る
                    = link_to gear_path(@gear.id), method: :delete, class: 'btn btn-danger' do
                      削除