= render 'devise/shared/signup'

.middle.row
  .middle__inner.col-lg-8.offset-lg-2.col-md-8.offset-md-2.col-sm-10.offset-sm-1.pl-4
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource

      .middle__inner__title.h4.m-4
        My New Gearにログイン
      .middle__inner__title.text-success
        ご覧いただきましてありがとうございます。
        %br
        こちらのアカウントでログインください。
        %br
        .text-primary
          メールアドレス：test@example.com 
        .text-primary
          パスワード：1234567
      %hr

      .middle__inner__title__left.row
        .col-md-6
          =link_to user_twitter_omniauth_authorize_path, method: :post, class: 'btn btn-twitter-inverse btn-block btn-lg my-3' do
            %i.fa.fa-twitter
            Twitterアカウントでログイン

          =link_to '#', class: 'btn btn-instagram-inverse btn-block btn-lg my-3' do
            %i.fa.fa-instagram
            Instagramアカウントでログイン
          
          =link_to '#', class: 'btn btn-github-inverse btn-block btn-lg mt-3 mb-4' do
            %i.fa.fa-github
            Githubアカウントでログイン
          %hr

        .col-md-6.signup-right-content
          .field.mt-3
            = f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'form-control'
          
          .field.mt-3
            = f.password_field :password, autofocus: true, autocomplete: :off, placeholder: "パスワード", class: 'form-control'

          .actions.mt-4
            = f.submit "My New Gearにログイン", class: 'btn btn-block btn-lg btn-site-color'
            
          = render "devise/shared/links"

