= render 'devise/shared/signup'

.gears-new-wrapper
  = form_with model: @review, url: gear_reviews_path , method: :post, local: true ,class: 'container-fluid' do |f|
    .gears-new-contents.row
      .gears-new-contents__box.h5.col-lg-6.col-md-8.col-sm-12.col-12.offset-md-2.offset-lg-3.pt-5.card
        .gears-new-contents__box__title.text-center.font-weight-bold
          機材のレビューを入力
          %hr.my-4
        
        .gears-new-contents__box__image-container
          .gearname.col-12.text-primary.mb-3
            = @gear.gearname
          = image_tag @gear.image, size: '300x300', class: 'img-fluid'
        
        .gears-new-contents__box__image-check.pt-3#gearImgPreview
          %label.gears-new-contents__box__image-check__image.font-weight-bold.border.border-warning.rounded.pt-2
            = image_tag "", id:'image', class:'gears-new-contents__box__image-check__image__view rounded',accept: "image/*"
          .gears-new-contents__box__image-check__text
            画像をアップロード済

        %hr.my-4
        
        .gears-new-contents__box__status-container.p-3.row
          .gears-new-contents__box__status-container__title.h6.col-md-4.pl-4.mb-3.font-weight-bold.text-muted
            種類

          .gears-new-contents__box__status-container__select.col-md-8
            = f.label :category_id, 'カテゴリー', class: 'h6 font-weight-bold mt-4'
            .text-primary.font-weight-bold.col-12.text-center
              = @gear.category

            = f.label :maker_id, 'メーカー', class: 'h6 font-weight-bold mt-4'
            .text-primary.font-weight-bold.col-12.text-center
              = @gear.maker
        %hr.my-4

        .gears-new-contents__box__point-container.p-3.row
          .gears-new-contents__box__point-container__title.h6.col-md-4.pl-4.mb-3.font-weight-bold.text-muted
            ポイント
            .gears-new-contents__box__point-container__title__note.mt-3.text-primary.h6
              点数を選択してください。
          
          .gears-new-contents__box__point-container__list.col-md-8
            = f.label :cost_performance, 'コストパフォーマンス', class: 'h6 font-weight-bold'
            = f.select :cost_performance, options_for_select(["0","1", "2", "3", "4", "5"]),{prompt: '未選択'}, class: 'form-control'

            = f.label :sound, 'サウンド', class: 'h6 font-weight-bold mt-4'
            = f.select :sound, options_for_select(["0","1", "2", "3", "4", "5"]),{prompt: '未選択'}, class: 'form-control'

            = f.label :design, 'デザイン', class: 'h6 font-weight-bold mt-4'
            = f.select :design, options_for_select(["0","1", "2", "3", "4", "5"]),{prompt: '未選択'}, class: 'form-control'

            = f.label :durability, '耐久性', class: 'h6 font-weight-bold mt-4'
            = f.select :durability, options_for_select(["0","1", "2", "3", "4", "5"]),{prompt: '未選択'}, class: 'form-control'

            = f.label :dissatisfaction, '満足度', class: 'h6 font-weight-bold mt-4'
            = f.select :satisfaction_level, options_for_select(["0","1", "2", "3", "4", "5"]),{prompt: '未選択'}, class: 'form-control'
              
        %hr.my-4

        .gears-new-contents__box__review-container.p-3.row
          .gears-new-contents__box__review-container__title.h6.col-12.font-weight-bold.text-muted
            タイトル
          
          .gears-new-contents__box__review-container__form.col-12
            .form-group
              = f.text_area :title, class: 'form-control', rows: '1', placeholder: '例)「CRAFTROS Supiritus」エフェクターレビュー！'

        .gears-new-contents__box__review-container.p-3.row
          .gears-new-contents__box__review-container__title.h6.col-12.font-weight-bold.text-muted
            レビュー
          
          .gears-new-contents__box__review-container__form.col-12
            .form-group
              = f.text_area :detail, class: 'form-control', rows: '6', placeholder: '例)これまでたくさんのオーバードライブを購入しましたが、ここに結論がありました。BOSSらしいと言えばそこまでですが、これがBOSSのひとつの回答だと思います。つまみをどの位置にしても良い音がでます。ブースターとして、クランチとして、軽めのディストーションとして。オールラウンダーです。'
        %hr.my-3
        
        .gears-new-contents__box__review-container.text-center.my-4
          %button{type: 'submit', class: 'btn btn-outline-success'}
            レビューを投稿する